/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  background-color: black;
}

/*Side Bar*/
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: black;
  padding: 20px;
}

.side-info {
  padding: 5px;
}

.side-info h1 {
  font-family: 'Teko', serif;
  font-size: 55pt;
  text-align: justify;
  margin-top: 30%;
}

h2 {
  font-family: 'Gruppo', serif;
}

p {
  margin-top: 25px;
}

/*Title Area*/
div.main h1 {
  position: fixed;
  top: 0;
  left: 400px;
  width: calc(100vw - 400px);
  height: 100px;
  background-color: whitesmoke;
  color: black;
  border-radius: 100px;
  z-index: 1001;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

/*Main*/
.main {
  margin-top: 40px;
}
.main li {
  display: flex;
  position: sticky;
  margin-left: 400px;
  padding-top: 110px;

  overflow-y: auto;
}
