/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  background-color: black;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto;
  grid-template-areas: 'sidebar main';
  height: 100vh;
}

/* Sidebar */
.side-bar {
  grid-area: sidebar;
  padding: 20px;
  background-color: whitesmoke;
  font-family: 'Teko', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.side-bar h1 {
  margin-top: 40px;
}

.side-info h2 {
  margin-bottom: 20px;
  font-family: 'Gruppo', serif;
  font-size: 30px;
  padding: 20px;
}

.side-info p {
  margin-top: 20px;
  padding: 20px;
  background-color: black;
  font-family: 'Gruppo', serif;
  font-size: 30px;
}

/* Main Content */
.main {
  grid-area: main;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

li {
  list-style: none;
}

h1 {
  font-size: 35pt;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: white;
  color: black;
  margin: 20px;
  padding: 10px;
  display: inline-block;
  border: 3px solid black;
  font-family: 'Teko', serif;
}

h2 {
  margin-top: 40px;
  padding: 10px;
  font-family: 'Gruppo', serif;
}

h3 {
  margin: 10px;
  color: whitesmoke;
  font-family: 'Gruppo', serif;
  font-size: 40pt;
}

h4 {
  margin-top: 40px;
  color: lightgrey;
  opacity: 0.75;
  font-family: 'Gruppo', serif;
  font-size: 30pt;
}

h5 {
  color: lightgrey;
  opacity: 0.75;
  font-family: 'Gruppo', serif;
  font-size: 20pt;
}

h6 {
  margin: 10px;
  color: lightgray;
  opacity: 0.75;
  margin-top: 40px;
  font-family: 'Gruppo', serif;
  font-size: 12pt;
}

button.next-quote {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  background: white;
  color: black;
  border: 3px solid black;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Teko', serif;
}

button.next-quote:hover {
  background: black;
  color: white;
  border: 3px solid white;
}

/* Footer */
.footer {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  font-family: 'Gruppo', serif;
  background-color: whitesmoke;
}

.footer p {
  background-color: whitesmoke;
  margin-left: 40px;
  color: black;
}
